{% extends 'core/base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block meta_links %}
{% endblock %}

{% block head_scripts %}
{% endblock %}

{% block body %}
{% endblock %}

{% block body_scripts %}
{% endblock %}

<!-- Title and Description -->
<meta name="description" content="">
<meta name="keywords" content="">

<!-- Open Graph / Facebook -->
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:image" content="https://materialsscience.net/static/images/icon.jpg">
<meta property="og:url" content="https://materialsscience.net/">
<meta property="og:type" content="website">

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="https://materialsscience.net/static/images/icon.jpg">

<!-- Canonical URL -->
<link rel="canonical" href="https://materialsscience.net/">